<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8" />
    <title>Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  	<header>
  	  <h1><%= title %></h1>
  	</header>
    
    <nav class="cf">
      <div class="nav-bar cf">
	    <a href="/" title="Blog" class="nav-header">Blog</a>
	    <ul class="nav-content">
	      <li><a title="主页" href="/">home</a></li>
        <% if (user) { %>
          <li><a href="/post" title="发表">post</a></li>
          <li><a href="/logout" title="登出">logout</a></li>
        <% } else { %>
	        <li><a href="/login" title="登录">login</a></li>
	        <li><a href="/reg" title="注册">register</a></li>
        <% } %>
	    </ul>
	  </div>
    </nav>

    <article>
      <% if (success) { %>
        <p class="state success"><%= success %></p>
      <% } %>
      <% if (error) { %>
        <p class="state error"><%= error %></p>
      <% } %>